<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">

      <settings>
          <!-- Tessdata folder location -->
          <setting name="TessdataFolder" value="App_Data\\tessdata" />
      </settings>

      <!-- Language mapping format: <language name="{sitecore_language_name}">{tesstata_file_language_name}</language> -->
       <tesseract>
           <language name="en">eng</language>
           <language name="ru-ru">rus</language>
       </tesseract>
      

  </sitecore>
</configuration>